Repository reach4help/reach4help, pull requests merged in 2020-05, with the labels that each got.

#488 Map/new design fixes
  map/src/App.tsx
  map/src/components/map-layout.tsx
  map/src/components/map.tsx
  map/src/components/results.tsx
Labels: map

#489 Map: Further fixes / improvements following new design
  map/src/App.tsx
  map/src/components/about.tsx
  map/src/components/map-layout.tsx
  map/src/components/map-utils/map-state.ts
  map/src/components/map.tsx
  map/src/components/my-location-button.tsx
  map/src/components/results.tsx
  map/src/i18n/langs/en.json
  map/src/styling/index.ts
  map/src/styling/theme.ts
Labels: map

#491 Feat/#101 intro screen
  web-client/src/index.css
  web-client/src/modules/personalData/components/RoleInfo/RoleInfo.tsx
Labels: frontend

#494 feat(map): enable anonymous (cookie-less) analytics using matomo
  map/public/index.html
  map/src/components/about.tsx
  map/src/components/add-information.tsx
  map/src/components/header.tsx
  map/src/components/languages.tsx
  map/src/util/tracking.ts
Labels: map

#495 feat(map): store user preference for displaying hidden results
  map/src/data/firebase.ts
Labels: map

#499 feat(map): add social icons
  map/src/components/assets/icon-email.tsx
  map/src/components/assets/icon-facebook.tsx
  map/src/components/assets/icon-github.tsx
  map/src/components/assets/icon-twitter.tsx
  map/src/components/header.tsx
  map/src/components/social-icons.tsx
  map/src/i18n/langs/en.json
Labels: map

#446 Refactored Notifications and Added Twilio SMS support
  functions/package.json
  functions/src/algolia/index.ts
  functions/src/app.ts
  functions/src/config/config.ts
  functions/src/dispatch/fcm.ts
  functions/src/dispatch/index.ts
  functions/src/dispatch/twilio.ts
  functions/src/index.ts
  functions/src/models/markers/index.ts
  functions/src/models/organizations/index.ts
  functions/src/models/questionnaires/index.ts
  functions/src/models/requests/index.ts
  functions/src/models/requests/privilegedInformation.ts
  functions/src/models/requests/timeline.ts
  functions/src/models/users/privilegedInformation.ts
  functions/src/offers/functions.ts
  functions/src/offers/index.ts
  functions/src/questionnaires/functions.ts
  functions/src/requests/functions.ts
  functions/src/requests/index.ts
  functions/src/users/functions.ts
  functions/src/users/index.ts
  functions/src/users/privilegedFunctions.ts
  functions/tests/firestore-rules.test.ts
  functions/tests/index.test.ts
  functions/tests/triggers/requests-triggers.test.ts
  functions/tests/triggers/user-triggers.test.ts
  functions/yarn.lock
Labels: backend

#498 Update CONTRIBUTING.md
  CONTRIBUTING.md
  web-client/.env.EXAMPLE
  web-client/CONTRIBUTING.md
Labels: frontend

#501 Backend/fix deploy
  .github/workflows/ci.yml
  functions/src/app.ts
  functions/src/dispatch/fcm.ts
  functions/src/index.ts
  functions/src/questionnaires/functions.ts
  functions/src/questionnaires/index.ts
  functions/src/requests/functions.ts
  functions/src/users/functions.ts
  functions/tests/triggers/user-triggers.test.ts
Labels: backend, infra / devops

#506 Introduce model package, and share marker model between packages
  .github/workflows/ci.yml
  functions/package.json
  functions/src/https/api/map/index.ts
  functions/src/models/markers/index.ts
  functions/src/shared/model
  map/package.json
  map/src/components/add-information.tsx
  map/src/components/filter-type.tsx
  map/src/components/marker-type.tsx
  map/src/components/results.tsx
  map/src/data/firebase.ts
  map/src/data/index.ts
  map/src/data/markers.ts
  map/src/state/index.ts
  model/.eslintrc.js
  model/.gitignore
  model/.prettierrc
  model/jest.config.js
  model/package.json
  model/src/index.ts
  model/src/markers/index.ts
  model/src/markers/type.ts
  model/src/tsconfig.json
  model/tests/index.test.ts
  model/tests/tsconfig.json
  package.json
  site/package.json
  web-client/package.json
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  yarn.lock
Labels: backend, frontend, infra / devops, map, site

#509 chore(map): remove hardcoded values from map
  map/src/components/add-information.tsx
  map/src/components/map-utils/google-maps.ts
  map/src/components/map-utils/info-window.ts
  map/src/components/map-utils/map-state.ts
  map/src/components/map.tsx
  map/src/data/firebase.ts
  map/src/data/markers.ts
Labels: map

#510 Map: include hardcoded data in the API
  functions/src/https/api/map/index.ts
  model/src/markers/index.ts
Labels: backend, map

#511 feat(map): add utility to skip about page
  map/src/App.tsx
  map/src/util/index.ts
Labels: map

#515 Map: incorporate mutualaid.wiki data in our map
  firebase/storage.rules
  functions/package.json
  functions/src/app.ts
  functions/src/https/api/map/index.ts
  functions/src/index.ts
  functions/src/models/markers/index.ts
  functions/src/pubsub/index.ts
  functions/src/pubsub/schedule/generate-data-files.ts
  functions/src/pubsub/schedule/index.ts
  functions/src/pubsub/schedule/sync-mutualaid.wiki.ts
  functions/yarn.lock
  map/src/App.tsx
  map/src/components/about.tsx
  map/src/components/add-information.tsx
  map/src/components/footer.tsx
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/data/firebase.ts
  map/src/i18n/langs/en.json
  model/src/markers/index.ts
Labels: backend, firebase-rules, map, security

#517 fix(map): clear slected result when clicking on a cluster
  map/src/components/map.tsx
Labels: map

#518 Map: performance improvements
  map/src/components/map-utils/google-maps.ts
  map/src/components/map-utils/map-state.ts
  map/src/components/map.tsx
  map/src/components/my-location-button.tsx
Labels: map

#523 Added env vars for reach4help-dev-starter + GMaps API stub
  web-client/.env.EXAMPLE
  web-client/CONTRIBUTING.md
  web-client/package.json
  web-client/src/models/users/privilegedInformation.ts
  web-client/src/modules/personalData/containers/PersonalDataFormContainer/PersonalDataFormContainer.tsx
Labels: frontend

#481 feat(web-client): dashboard layout
  web-client/src/assets/new-request-icon.svg
  web-client/src/components/BottomNavbar/BottomNavbar.tsx
  web-client/src/components/DashboardLayout/DashboardLayout.tsx
  web-client/src/components/MenuDrawer/MenuDrawer.tsx
  web-client/src/components/NewRequestModal/NewRequestModal.tsx
  web-client/src/components/NotificationsDrawer/NotificationsDrawer.tsx
  web-client/src/components/SideDrawerMenu/SideDrawerMenu.tsx
  web-client/src/components/SideDrawerProfile/SideDrawerProfile.tsx
  web-client/src/components/TopNavbar/TopNavbar.tsx
  web-client/src/ducks/auth/actions.ts
  web-client/src/ducks/auth/functions.ts
  web-client/src/ducks/auth/reducer.ts
  web-client/src/ducks/auth/types.ts
  web-client/src/index.css
  web-client/src/modules/index.ts
  web-client/src/modules/personalData/pages/ContentPage.tsx
  web-client/src/modules/phone/containers/PhoneVerifyContainer/PhoneVerifyContainer.tsx
  web-client/src/modules/phone/pages/ContentPage.tsx
  web-client/src/modules/request/components/NewRequestForm/NewRequestForm.tsx
  web-client/src/modules/request/containers/NewRequestFormContainer/NewRequestFormContainer.tsx
  web-client/src/modules/request/index.ts
  web-client/src/modules/request/pages/ContentPage.tsx
  web-client/src/modules/request/pages/routes/NewRequestRoute/NewRequestRoute.tsx
  web-client/src/modules/request/pages/routes/NewRequestRoute/constants.tsx
  web-client/src/pages/MasterPage.tsx
  web-client/src/pages/routes/ProtectedRoute.tsx
  web-client/src/theme/colors.js
  web-client/src/types/module.d.ts
Labels: frontend

#530 fixed erros when ran with docker and added documentation
  web-client/README.md
  web-client/package.json
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  yarn.lock
Labels: frontend

#486 New request success page
  web-client/src/assets/lotties/stay-at-home.json
  web-client/src/components/DashboardLayout/DashboardLayout.tsx
  web-client/src/components/LoadingIndicator/LoadingIndicator.tsx
  web-client/src/components/NewRequestModal/NewRequestModal.tsx
  web-client/src/ducks/index.ts
  web-client/src/ducks/profile/actions.ts
  web-client/src/ducks/profile/functions.ts
  web-client/src/ducks/profile/reducer.ts
  web-client/src/ducks/profile/types.ts
  web-client/src/ducks/requests/actions.ts
  web-client/src/ducks/requests/functions.ts
  web-client/src/ducks/requests/reducer.ts
  web-client/src/ducks/requests/types.ts
  web-client/src/models/users/privilegedInformation.ts
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/pages/MasterPage.tsx
  web-client/src/theme/colors.js
  web-client/src/translations/translations.json
Labels: frontend

#519 Map: schedule the recently created map functions
  functions/src/pubsub/schedule/generate-data-files.ts
  functions/src/pubsub/schedule/sync-mutualaid.wiki.ts
Labels: backend, map

#514 Map: Hide some on the embedded map
  map/src/App.tsx
  map/src/components/header.tsx
  map/src/i18n/langs/en.json
  map/src/i18n/langs/tr-TR.json
  map/src/util/index.ts
Labels: map

#536 Request Module
  web-client/src/ducks/requests/actions.ts
  web-client/src/ducks/requests/functions.ts
  web-client/src/ducks/requests/reducer.ts
  web-client/src/ducks/requests/types.ts
  web-client/src/modules/index.ts
  web-client/src/modules/requests/components/RequestList/RequestList.tsx
  web-client/src/modules/requests/containers/CompletedRequestsContainer/CompletedRequestsContainer.tsx
  web-client/src/modules/requests/containers/OngoingRequestsContainer/OngoingRequestsContainer.tsx
  web-client/src/modules/requests/containers/OpenRequestsContainer/OpenRequestsContainer.tsx
  web-client/src/modules/requests/index.ts
  web-client/src/modules/requests/pages/ContentPage.tsx
  web-client/src/modules/requests/pages/routes/CompletedRequestsRoute/CompletedRequestsRoute.tsx
  web-client/src/modules/requests/pages/routes/CompletedRequestsRoute/constants.tsx
  web-client/src/modules/requests/pages/routes/OngoingRequestsRoute/OngoingRequestsRoute.tsx
  web-client/src/modules/requests/pages/routes/OngoingRequestsRoute/constants.tsx
  web-client/src/modules/requests/pages/routes/OpenRequestsRoute/OpenRequestsRoute.tsx
  web-client/src/modules/requests/pages/routes/OpenRequestsRoute/constants.tsx
  web-client/src/pages/MasterPage.tsx
Labels: frontend

#538 Fixed Instagram Change
  site/gatsby-config.js
Labels: site

#507 Map: log changes to map markers
  functions/src/index.ts
  functions/src/markers/index.ts
  functions/src/models/markers/index.ts
Labels: backend, frontend, infra / devops, map, site

#544 Latest code in development branch
  web-client/src/assets/dummy-man.jpg
  web-client/src/assets/location-icon.svg
  web-client/src/assets/nav-back-icon.svg
  web-client/src/assets/phone-icon.svg
  web-client/src/ducks/requests/reducer.ts
  web-client/src/ducks/requests/types.ts
  web-client/src/modules/index.ts
  web-client/src/modules/requests/containers/CompletedRequestsContainer/CompletedRequestsContainer.tsx
  web-client/src/modules/requests/containers/OngoingRequestsContainer/OngoingRequestsContainer.tsx
  web-client/src/modules/requests/containers/OpenRequestsContainer/OpenRequestsContainer.tsx
  web-client/src/modules/timeline/components/TopPanel.tsx
  web-client/src/modules/timeline/containers/TimelineViewContainer/TimelineViewContainer.tsx
  web-client/src/modules/timeline/index.ts
  web-client/src/modules/timeline/pages/ContentPage.tsx
  web-client/src/modules/timeline/pages/routes/TimelineViewRoute/TimelineViewRoute.tsx
  web-client/src/modules/timeline/pages/routes/TimelineViewRoute/constants.tsx
  web-client/src/theme/colors.js
Labels: frontend

#539 Map: include data from mutualaidhub.org
  functions/src/https/api/map/index.ts
  functions/src/models/markers/index.ts
  functions/src/pubsub/schedule/index.ts
  functions/src/pubsub/schedule/sync-mutualaid.wiki.ts
  functions/src/pubsub/schedule/sync-mutualaidhub.ts
  functions/src/pubsub/schedule/sync-util.ts
  map/src/components/about.tsx
  map/src/components/results.tsx
  map/src/i18n/langs/en.json
  model/src/markers/index.ts
Labels: backend, map

#548 docs: update links to point to wiki for onboarding
  CONTRIBUTING.md
  README.md
  docs/GETTING_INVOLVED.md
  docs/TEAMS.md
  site/src/content/team.md
  site/src/sections/Landing.js
Labels: documentation, site

#549 Unsupported Location
  web-client/src/assets/mappinlocation.gif
  web-client/src/components/UnsupportedLocation/UnsupportedLocation.tsx
  web-client/src/translations/translations.json
Labels: frontend

#513 feat(web-client): added loading wrapper
  web-client/src/assets/loadinglogo.svg
  web-client/src/components/LoadingWrapper/LoadingWrapper.tsx
  web-client/src/modules/login/pages/ContentPage.tsx
  web-client/src/modules/personalData/containers/PersonalDataFormContainer/PersonalDataFormContainer.tsx
  web-client/src/modules/personalData/pages/ContentPage.tsx
  web-client/src/modules/phone/pages/ContentPage.tsx
  web-client/src/pages/routes/ProtectedRoute.tsx
Labels: frontend

#547 improvement(map): remove mutualaidhub.org as alternative map
  map/src/components/about.tsx
  map/src/i18n/langs/en.json
Labels: map

#552 feat(request): allow cavs the ability to decline requests
  functions/src/models/offers/index.ts
  web-client/src/models/offers/index.ts
Labels: backend, frontend

#540 feat(backend): remove duplicate mutualaid.wiki markers
  functions/src/pubsub/schedule/sync-mutualaid.wiki.ts
  functions/src/pubsub/schedule/sync-util.ts
Labels: backend, map

#557 fixes issues converting address for firestore and making applicationPreference optional
  functions/src/models/users/index.ts
  functions/src/models/users/privilegedInformation.ts
  web-client/src/models/users/index.ts
  web-client/src/models/users/privilegedInformation.ts
  web-client/src/modules/requests/containers/CompletedRequestsContainer/CompletedRequestsContainer.tsx
  web-client/src/modules/requests/containers/OngoingRequestsContainer/OngoingRequestsContainer.tsx
  web-client/src/modules/requests/containers/OpenRequestsContainer/OpenRequestsContainer.tsx
  web-client/src/modules/timeline/containers/TimelineViewContainer/TimelineViewContainer.tsx
Labels: backend, frontend

#553 Top panel updates
  web-client/CONTRIBUTING.md
  web-client/src/ducks/requests/actions.ts
  web-client/src/ducks/requests/reducer.ts
  web-client/src/ducks/requests/types.ts
  web-client/src/modules/timeline/components/TopPanel.tsx
  web-client/src/modules/timeline/containers/TimelineViewContainer/TimelineViewContainer.tsx
  web-client/src/modules/timeline/index.ts
  web-client/src/theme/colors.js
  web-client/src/translations/translations.json
Labels: frontend

#537 Requests have user snapshot
  functions/src/models/requests/index.ts
  functions/src/offers/functions.ts
  functions/src/pubsub/schedule/sync-mutualaid.wiki.ts
  functions/src/pubsub/schedule/sync-util.ts
  web-client/src/models/requests/index.ts
Labels: backend, frontend

#558 Align Models - Capture if we can send info
  functions/src/models/users/privilegedInformation.ts
  web-client/src/models/users/privilegedInformation.ts
Labels: backend, frontend

#560 Joseph/development merged
  functions/src/models/users/index.ts
  functions/src/models/users/privilegedInformation.ts
  web-client/src/models/users/index.ts
  web-client/src/models/users/privilegedInformation.ts
  web-client/src/modules/requests/containers/FinishedRequestsContainer/FinishedRequestsContainer.tsx
  web-client/src/modules/requests/containers/OngoingRequestsContainer/OngoingRequestsContainer.tsx
  web-client/src/modules/requests/containers/OpenRequestsContainer/OpenRequestsContainer.tsx
  web-client/src/modules/timeline/containers/TimelineViewContainer/TimelineViewContainer.tsx
Labels: backend, frontend

#559 feat(web-client): prepare for translations from crowdin
  web-client/src/translations/en.json
  web-client/src/translations/i18n.ts
  web-client/src/translations/pt-PT.json
  web-client/src/translations/translations.json
Labels: frontend

#566 moved the opt-in for emails and notifications to the personal data and model updates
  functions/src/models/users/privilegedInformation.ts
  web-client/src/ducks/profile/actions.ts
  web-client/src/models/users/privilegedInformation.ts
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/personalData/containers/PersonalDataFormContainer/PersonalDataFormContainer.tsx
  web-client/src/pages/MasterPage.tsx
  web-client/src/translations/en.json
Labels: backend, frontend

#584 Ci env vars
  .github/workflows/deploy-to-firebase-dev.yml
  .github/workflows/deploy-to-firebase-production.yml
  .github/workflows/deploy-to-firebase-staging.yml
Labels: infra / devops

#586 Joseph/timeline integration
  functions/src/offers/functions.ts
  functions/src/requests/functions.ts
  functions/src/shared/triggerFunctions.ts
  web-client/src/ducks/index.ts
  web-client/src/ducks/timeline/actions.ts
  web-client/src/ducks/timeline/functions.ts
  web-client/src/ducks/timeline/reducer.ts
  web-client/src/ducks/timeline/types.ts
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/personalData/pages/ContentPage.tsx
  web-client/src/modules/phone/components/PhoneNumberEntryForm/PhoneNumberEntryForm.tsx
  web-client/src/modules/phone/components/PhoneNumberVerifyForm/PhoneNumberVerifyForm.tsx
  web-client/src/modules/phone/containers/PhoneEntryContainer/PhoneEntryContainer.tsx
  web-client/src/modules/phone/pages/ContentPage.tsx
  web-client/src/modules/timeline/components/TimelineList/TimelineList.tsx
  web-client/src/modules/timeline/containers/TimelineViewContainer/TimelineViewContainer.tsx
  web-client/src/translations/en.json
Labels: backend, frontend

#551 feat(backend): introduce bot authentication with custom tokens
  firebase/firestore.rules
  functions/src/https/bot-auth.ts
  functions/src/https/index.ts
Labels: backend, firebase-rules, infra / devops, security

#595 chore(all-contributors): add mcverter and puzzledbytheweb
  .all-contributorsrc
Labels: documentation

#587 Dilpreet/terms condition fix
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/phone/components/PhoneNumberEntryForm/PhoneNumberEntryForm.tsx
Labels: frontend
