Repository reach4help/reach4help, pull requests merged in 2020-04, with the labels that each got.

#229 improvement(functions): make independent of monorepo
  firebase.json
  functions/yarn.lock
  package.json
  yarn.lock
Labels: backend

#244 Improve responsiveness of map
  map/src/App.tsx
  map/src/components/header.tsx
  map/src/components/map-utils/google-maps.ts
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/styling/index.ts
  map/src/styling/mixins.ts
Labels: map

#224 feat(screen): add phone number screen
  web-client/src/components/PhoneNumber/PhoneNumber.tsx
  web-client/src/pages/ContentPage.tsx
  web-client/src/pages/routes/PhoneNumberPage.tsx
  web-client/src/translations/translations.json
Labels: frontend

#235 improvements(social): added social media tags to map and gatsby site
  branding/banners/swarm_banner_main.png
  branding/banners/swarm_banner_map_alt.png
  branding/banners/swarm_banner_map_main.png
  map/README.md
  map/public/index.html
  map/public/swarm_banner_map_alt.png
  map/public/swarm_banner_map_main.png
  site/README.md
  site/gatsby-config.js
  site/src/sections/Landing.js
  site/static/images/swarm_banner_main.png
Labels: brand / design, enhancement, frontend, marketing, ux / ui / design

#237 feat(backend): added models as well as some empty cloud functions
  .gitignore
  functions/.eslintrc.js
  functions/.nvmrc
  functions/jest.config.js
  functions/package.json
  functions/src/index.ts
  functions/src/models/offers/index.ts
  functions/src/models/organizations/index.ts
  functions/src/models/organizations/teams.ts
  functions/src/models/questionnaires/index.ts
  functions/src/models/requests/index.ts
  functions/src/models/requests/privilegedInformation.ts
  functions/src/models/users/index.ts
  functions/src/models/users/privilegedInformation.ts
  functions/src/offers/index.ts
  functions/src/requests/index.ts
  functions/src/requests/priviledgedInformation.ts
  functions/src/tsconfig.json
  functions/src/users/index.ts
  functions/src/users/privilegedInformation.ts
  functions/tests/index.test.ts
  functions/tests/tsconfig.json
  functions/yarn.lock
  yarn.lock
Labels: architecture, backend, blocker

#256 docs: update onboarding documentation
  CONTRIBUTING.md
  docs/GETTING_INVOLVED.md
  docs/MVP.md
  docs/TEAMS.md
Labels: documentation, management

#258 Update site following getting involved onboarding doc updates
  site/gatsby-config.js
  site/src/components/SocialLink.js
  site/src/content/resources.md
  site/src/content/team.md
  site/src/sections/Landing.js
Labels: documentation, management, site

#262 add AlexV to the security team
  docs/TEAMS.md
Labels: documentation

#263 Fix typo in file name
  functions/src/requests/index.ts
  functions/src/requests/privilegedInformation.ts
Labels: backend

#264 Rename "application security" team to "security"
  .github/PULL_REQUEST_TEMPLATE.md
  docs/TEAMS.md
Labels: documentation

#268 docs: update link to onboarding form in getting involved doc
  docs/GETTING_INVOLVED.md
Labels: documentation

#249 feat(page): add verify phone number page
  web-client/src/components/VerificationCode/VerificationCode.tsx
  web-client/src/pages/routes/VerificationCodePage.tsx
  web-client/src/translations/translations.json
Labels: frontend

#297 feat(site): add datadog to thank you section
  site/src/content/thanks.md
Labels: site

#293 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#247 feat(new-request): finish page without redux/firebase integration (No Firebase integration in this PR)
  .eslintrc-ts.js
  .eslintrc.js
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/deploy-to-firebase-staging.yml
  .prettierrc
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  functions/.eslintrc.js
  functions/tests/tsconfig.json
  map/.eslintrc.js
  map/tsconfig.json
  site/static/admin/config.yml
  web-client/.eslintrc.js
  web-client/.prettierrc
  web-client/config-overrides.js
  web-client/docker-compose.yml
  web-client/public/index.html
  web-client/src/assets/lotties/loading.json
  web-client/src/components/NewRequestForm/NewRequestForm.tsx
  web-client/src/components/TitleWithAddon/TitleWithAddon.tsx
  web-client/src/containers/NewRequestFormContainer/NewRequestFormContainer.tsx
  web-client/src/index.css
  web-client/src/pages/MasterPage.tsx
  web-client/src/pages/routes/NewRequestRoute/NewRequestRoute.tsx
  web-client/src/pages/routes/NewRequestRoute/constants.tsx
  web-client/src/theme/colors.js
  web-client/src/theme/themeOverrides.less
  web-client/src/translations/translations.json
  web-client/tsconfig.json
Labels: frontend, help wanted

#370 CI: Sync ZenHub information with our issues
  .github/workflows/sync-with-zenhub.yml
  .github/zenhub-issue-sync/.gitignore
  .github/zenhub-issue-sync/action.yml
  .github/zenhub-issue-sync/dist/index.js
  .github/zenhub-issue-sync/package.json
  .github/zenhub-issue-sync/src/index.ts
  .github/zenhub-issue-sync/src/tsconfig.json
  .github/zenhub-issue-sync/src/zenhub.ts
  .github/zenhub-issue-sync/yarn.lock
Labels: management

#272 feat(models): add a default application preference field
  functions/src/models/users/index.ts
Labels: backend

#376 Improvements to ZenHub issue sync
  .github/zenhub-issue-sync/dist/index.js
  .github/zenhub-issue-sync/src/index.ts
Labels: mgmt / ops / product

#294 feat(rules): added basic rules and started a test framework for them
  .gitignore
  .idea/codeStyles/Project.xml
  firebase/firestore.rules
  firebase/storage.rules
  functions/.eslintrc.js
  functions/.gitignore
  functions/.prettierrc
  functions/package.json
  functions/src/index.ts
  functions/src/models/offers/index.ts
  functions/src/models/organizations/index.ts
  functions/src/models/organizations/teams.ts
  functions/src/models/questionnaires/index.ts
  functions/src/models/requests/index.ts
  functions/src/models/requests/privilegedInformation.ts
  functions/src/models/users/index.ts
  functions/src/models/users/privilegedInformation.ts
  functions/src/offers/index.ts
  functions/src/requests/index.ts
  functions/src/requests/privilegedInformation.ts
  functions/src/users/index.ts
  functions/src/users/privilegedInformation.ts
  functions/tests/firestore-rules.test.ts
  functions/tests/index.test.ts
  functions/tests/tsconfig.json
  functions/yarn.lock
Labels: backend, firebase-rules, security

#270 Adding timeline item
  .gitignore
  functions/src/models/requests/timeline.ts
Labels: backend

#389 Automated PR triage
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: infra / devops

#380 [RFC][#378] - Split reducer logic
  web-client/src/ducks/auth/actions.ts
  web-client/src/ducks/auth/facebook/actions.ts
  web-client/src/ducks/auth/facebook/functions.ts
  web-client/src/ducks/auth/facebook/reducer.ts
  web-client/src/ducks/auth/facebook/types.ts
  web-client/src/ducks/auth/functions.ts
  web-client/src/ducks/auth/phone/actions.ts
  web-client/src/ducks/auth/phone/functions.ts
  web-client/src/ducks/auth/phone/reducer.ts
  web-client/src/ducks/auth/phone/types.ts
  web-client/src/ducks/auth/reducer.ts
  web-client/src/ducks/auth/types.ts
  web-client/src/http/resources/auth.ts
  web-client/src/modules/login/containers/LoginContainer/LoginContainer.tsx
  web-client/src/modules/login/pages/ContentPage.tsx
  web-client/src/modules/phone/containers/PhoneEntryContainer/PhoneEntryContainer.tsx
  web-client/src/modules/phone/containers/PhoneVerifyContainer/PhoneVerifyContainer.tsx
  web-client/src/modules/phone/pages/ContentPage.tsx
  web-client/src/pages/routes/ProtectedRoute.tsx
  web-client/src/store/middlewares/observerMiddleware.ts
  web-client/src/store/utils/createReducer.ts
Labels: architecture, frontend

#390 fix: updated some of the code
  .idea/covidaid.iml
  functions/src/offers/index.ts
  functions/src/requests/index.ts
  functions/src/users/index.ts
  functions/tests/firestore-rules.test.ts
  functions/tests/index.test.ts
  functions/tests/triggers/user-triggers.test.ts
Labels: backend

#410 Update thanks.md
  site/src/content/thanks.md
Labels: site

#399 feat(text-search): algolia-request-text-search
  functions/package.json
  functions/src/algolia/index.ts
  functions/src/requests/index.ts
  functions/yarn.lock
Labels: backend

#407 Completed the TODOs in firestore triggers
  .idea/covidaid.iml
  functions/package.json
  functions/src/offers/functions.ts
  functions/src/offers/index.ts
  functions/src/requests/functions.ts
  functions/src/requests/index.ts
  functions/src/users/functions.ts
  functions/src/users/index.ts
  functions/tests/firestore-rules.test.ts
  functions/tests/index.test.ts
  functions/tests/triggers/requests-triggers.test.ts
  functions/tests/triggers/user-triggers.test.ts
  functions/yarn.lock
  map/src/components/header.tsx
Labels: backend, map

#398 fix: track terms and privacy
  functions/src/models/requests/privilegedInformation.ts
  functions/src/models/requests/timeline.ts
  functions/src/models/users/privilegedInformation.ts
  functions/src/offers/functions.ts
  functions/src/offers/index.ts
  functions/src/requests/functions.ts
  functions/src/requests/index.ts
  functions/src/users/functions.ts
  functions/tests/index.test.ts
Labels: backend, map

#417 ci(zenhub): fix zenhub sync to allow linking to PRs / PRs to have epics
  .github/zenhub-issue-sync/dist/index.js
  .github/zenhub-issue-sync/src/index.ts
Labels: infra / devops, mgmt / ops / product

#418 feat(map): update data model for markers
  map/src/components/filters.tsx
  map/src/components/map.tsx
  map/src/components/marker-type.tsx
  map/src/components/results.tsx
  map/src/components/services.tsx
  map/src/data/index.ts
  map/src/data/markers.ts
Labels: map

#419 Map/#76
  .eslintrc-ts.js
  map/.eslintrc.js
  map/package.json
  map/src/App.tsx
  map/src/components/context.tsx
  map/src/components/filters.tsx
  map/src/components/footer.tsx
  map/src/components/header.tsx
  map/src/components/languages.tsx
  map/src/components/marker-type.tsx
  map/src/data/index.ts
  map/src/i18n/iface.ts
  map/src/i18n/index.tsx
  map/src/i18n/langs/en.ts
  map/src/i18n/langs/ru.ts
  yarn.lock
Labels: map

#423 Feat/#383 add geolocation to personal-data
  web-client/package.json
  web-client/src/assets/geolocationinactive.svg
  web-client/src/assets/gpstarget.svg
  web-client/src/index.css
  web-client/src/modules/personalData/components/PersonaDataForm/PersonaDataForm.tsx
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/personalData/containers/PersonalDataFormContainer/PersonalDataFormContainer.tsx
  web-client/src/modules/personalData/pages/ContentPage.tsx
  web-client/src/translations/translations.json
  web-client/tsconfig.json
  yarn.lock
Labels: frontend

#429 feat(map): use json for translations instead of ts files
  crowdin.yml
  map/src/i18n/iface.ts
  map/src/i18n/index.tsx
  map/src/i18n/langs/en.json
  map/src/i18n/langs/en.ts
  map/src/i18n/langs/ru.json
  map/src/i18n/langs/ru.ts
Labels: map

#432 chore(map): Add i18n for the remainder of the text on the map
  map/package.json
  map/src/App.tsx
  map/src/components/filters.tsx
  map/src/components/footer.tsx
  map/src/components/header.tsx
  map/src/components/map-loader.tsx
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/components/search.tsx
  map/src/i18n/iface.ts
  map/src/i18n/index.tsx
  map/src/i18n/langs/en.json
  map/src/i18n/langs/en.ts
  map/src/i18n/langs/ru.json
  map/src/i18n/langs/ru.ts
  map/src/styling/index.ts
  yarn.lock
Labels: map

#433 Resolve conflicts with i18n from crowdin
  map/src/i18n/langs/af.json
  map/src/i18n/langs/ar.json
  map/src/i18n/langs/ca.json
  map/src/i18n/langs/cs.json
  map/src/i18n/langs/da.json
  map/src/i18n/langs/de.json
  map/src/i18n/langs/el.json
  map/src/i18n/langs/es.json
  map/src/i18n/langs/fi.json
  map/src/i18n/langs/fr.json
  map/src/i18n/langs/he.json
  map/src/i18n/langs/hu.json
  map/src/i18n/langs/it.json
  map/src/i18n/langs/ja.json
  map/src/i18n/langs/ko.json
  map/src/i18n/langs/nl.json
  map/src/i18n/langs/no.json
  map/src/i18n/langs/pl.json
  map/src/i18n/langs/pt.json
  map/src/i18n/langs/ro.json
  map/src/i18n/langs/ru.json
  map/src/i18n/langs/sr.json
  map/src/i18n/langs/sv.json
  map/src/i18n/langs/tr.json
  map/src/i18n/langs/uk.json
  map/src/i18n/langs/vi.json
  map/src/i18n/langs/zh.json
Labels: map

#435 feat(map): Enable arabic, french and portuguese
  map/src/components/filters.tsx
  map/src/components/languages.tsx
  map/src/components/results.tsx
  map/src/i18n/index.tsx
  map/src/i18n/langs/ar.ts
  map/src/i18n/langs/fr.ts
  map/src/i18n/langs/pt.ts
  map/src/styling/mixins.ts
Labels: map

#425 Additional Field in Privileged User Info
  functions/src/models/users/privilegedInformation.ts
  functions/src/users/privilegedFunctions.ts
  functions/src/users/privilegedInformation.ts
Labels: backend

#438 [MVP] - New Request Page mobile styling
  web-client/src/constants/mediaQueries.ts
  web-client/src/modules/request/components/NewRequestForm/NewRequestForm.tsx
  web-client/src/types/constants.d.ts
Labels: frontend

#439 feat(map): enable 4 more languages
  map/src/i18n/index.tsx
  map/src/i18n/langs/es.ts
  map/src/i18n/langs/hi.ts
  map/src/i18n/langs/tr.ts
  map/src/i18n/langs/zh.ts
Labels: map

#411 Added Map Models to Back End
  functions/src/models/markers/index.ts
  functions/src/models/offers/index.ts
  functions/src/models/organizations/index.ts
  functions/src/models/organizations/teams.ts
  functions/src/models/questionnaires/index.ts
  functions/src/models/requests/index.ts
  functions/src/models/requests/timeline.ts
  functions/src/models/users/index.ts
  map/src/data/markers.ts
Labels: backend, map

#426 Migrated Models and Integrated Personal Data Page With Firebase
  web-client/package.json
  web-client/src/ducks/index.ts
  web-client/src/ducks/profile/actions.ts
  web-client/src/ducks/profile/functions.ts
  web-client/src/ducks/profile/reducer.ts
  web-client/src/ducks/profile/types.ts
  web-client/src/firebase/index.ts
  web-client/src/models/offers/index.ts
  web-client/src/models/organizations/index.ts
  web-client/src/models/organizations/teams.ts
  web-client/src/models/questionnaires/index.ts
  web-client/src/models/requests/index.ts
  web-client/src/models/requests/privilegedInformation.ts
  web-client/src/models/requests/timeline.ts
  web-client/src/models/users/index.ts
  web-client/src/models/users/privilegedInformation.ts
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/personalData/containers/PersonalDataFormContainer/PersonalDataFormContainer.tsx
  web-client/src/modules/personalData/pages/routes/PersonalDataRoute/PersonalDataRoute.tsx
  web-client/src/translations/translations.json
  web-client/tsconfig.json
  yarn.lock
Labels: frontend

#445 fix: bellow -> below
  web-client/src/translations/translations.json
Labels: bug, frontend

#447 fix: more thanks
  site/src/content/thanks.md
Labels: site

#448 When a user is created add the JWT claim for `pin: true`
  functions/src/questionnaires/functions.ts
  functions/src/questionnaires/index.ts
  functions/src/users/functions.ts
Labels: backend

#406 feat(map): allow users to submit info
  .eslintrc-ts.js
  map/.gitignore
  map/package.json
  map/src/App.tsx
  map/src/components/add-information.tsx
  map/src/components/add-instructions.tsx
  map/src/components/header.tsx
  map/src/components/map-loader.tsx
  map/src/components/map-utils/google-maps.ts
  map/src/components/map.tsx
  map/src/components/search.tsx
  map/src/data/firebase.ts
  map/src/data/index.ts
  map/src/data/markers.ts
  map/src/i18n/iface.ts
  map/src/i18n/index.tsx
  map/src/i18n/langs/en.json
  map/src/styling/mixins.ts
  map/src/util/index.ts
  yarn.lock
Labels: map

#469 feat(backend): allow anyone to add markers to datastore
  firebase/firestore.rules
Labels: backend, firebase-rules, map, security

#471 feat(map): display firebase markers on map
  map/.eslintrc.js
  map/src/App.tsx
  map/src/components/add-information.tsx
  map/src/components/footer.tsx
  map/src/components/header.tsx
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/data/firebase.ts
  map/src/data/markers.ts
  map/src/i18n/index.tsx
  map/src/i18n/langs/en.json
  map/src/util/index.ts
Labels: map

#470 chore(backend): update scripts to use reach4help as prod env
  package.json
Labels: backend

#467 Completes Personal Data Page and Role Info Page Integration and Redirections
  web-client/src/ducks/auth/reducer.ts
  web-client/src/ducks/profile/actions.ts
  web-client/src/ducks/profile/functions.ts
  web-client/src/ducks/profile/reducer.ts
  web-client/src/ducks/profile/types.ts
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/personalData/components/RoleInfo/RoleInfo.tsx
  web-client/src/modules/personalData/containers/PersonalDataFormContainer/PersonalDataFormContainer.tsx
  web-client/src/modules/personalData/containers/RoleInfoContainer/RoleInfoContainer.tsx
  web-client/src/modules/personalData/pages/ContentPage.tsx
  web-client/src/modules/phone/components/PhoneNumberEntryForm/PhoneNumberEntryForm.tsx
  web-client/src/modules/phone/components/PhoneNumberVerifyForm/PhoneNumberVerifyForm.tsx
  web-client/src/pages/routes/ProtectedRoute.tsx
  web-client/src/store/middlewares/observerMiddleware.ts
Labels: frontend

#483 Map: Implement new design and responsiveness
  map/.eslintrc.js
  map/package.json
  map/public/about-bg.svg
  map/public/index.html
  map/src/App.tsx
  map/src/components/about.tsx
  map/src/components/add-information.tsx
  map/src/components/assets/chevron.tsx
  map/src/components/assets/cross.tsx
  map/src/components/assets/hamburger.tsx
  map/src/components/assets/logo-type.tsx
  map/src/components/assets/marker.tsx
  map/src/components/assets/refresh.tsx
  map/src/components/filter-type.tsx
  map/src/components/filters.tsx
  map/src/components/footer.tsx
  map/src/components/header.tsx
  map/src/components/languages.tsx
  map/src/components/map-layout.tsx
  map/src/components/map-utils/google-maps.ts
  map/src/components/map-utils/map-state.ts
  map/src/components/map.tsx
  map/src/components/my-location-button.tsx
  map/src/components/results.tsx
  map/src/components/search.tsx
  map/src/data/index.ts
  map/src/i18n/langs/en.json
  map/src/state/index.ts
  map/src/styling/index.ts
  map/src/styling/theme.ts
  yarn.lock
Labels: map
