Repository reach4help/reach4help, pull requests merged in 2020-06, with the labels that each got.

#606 fix: phone entry/verify validations and other minor fixes
  .all-contributorsrc
  web-client/src/modules/personalData/components/PersonalDataForm/PersonalDataForm.tsx
  web-client/src/modules/phone/components/PhoneNumberEntryForm/PhoneNumberEntryForm.tsx
  web-client/src/modules/phone/components/PhoneNumberVerifyForm/PhoneNumberVerifyForm.tsx
  web-client/src/modules/phone/containers/PhoneEntryContainer/PhoneEntryContainer.tsx
  web-client/src/theme/colors.js
  web-client/src/translations/en.json
Labels: frontend

#666 Site i18n
  site/gatsby-browser.js
  site/gatsby-node.js
  site/gatsby-ssr.js
  site/package.json
  site/src/components/footer/index.js
  site/src/components/header/index.js
  site/src/components/header/style.js
  site/src/components/languages/index.js
  site/src/components/layout/index.js
  site/src/locales/en-US.json
  site/src/locales/fr-FR.json
  site/src/locales/i18n.js
  site/src/locales/privacy/en-US.md
  site/src/locales/privacy/fr-FR.md
  site/src/locales/privacy/pt-PT.md
  site/src/locales/pt-PT.json
  site/src/pages/index.js
  site/src/pages/privacy.js
  site/src/sections/error/content.md
  site/src/sections/error/index.js
  site/src/sections/home/content.md
  site/src/sections/home/index.js
  site/src/sections/mission/index.js
  site/src/sections/partners/content.md
  site/src/sections/partners/index.js
  site/src/sections/privacy/index.js
  site/src/sections/team/content.md
  site/src/sections/team/index.js
  site/src/templates/privacy.js
  yarn.lock
Labels: site

#736 fix(dropdown): fix issue when clicking header links
  site/src/components/header/index.js
Labels: site

#766 Added Google Authentication for Login
  site/src/components/header/index.js
  web-client/src/ducks/auth/facebook/actions.ts
  web-client/src/ducks/auth/facebook/reducer.ts
  web-client/src/ducks/auth/google/actions.ts
  web-client/src/ducks/auth/google/functions.ts
  web-client/src/ducks/auth/google/reducer.ts
  web-client/src/ducks/auth/google/types.ts
  web-client/src/modules/login/components/FacebookLoginButton/FacebookLoginButton.tsx
  web-client/src/modules/login/components/FacebookLoginButton/icons8-facebook.svg
  web-client/src/modules/login/components/GoogleLoginButton/GoogleLoginButton.tsx
  web-client/src/modules/login/components/GoogleLoginButton/googleLogo.svg
  web-client/src/modules/login/components/Login/Login.tsx
  web-client/src/modules/login/containers/LoginContainer/LoginContainer.tsx
  web-client/src/modules/timeline/components/TopPanel/TopPanel.tsx
  web-client/src/translations/en.json
  yarn.lock
Labels: enhancement, frontend

#770 Add PWA support
  model/jest.config.js
  web-client/public/manifest.json
  web-client/src/index.tsx
  yarn.lock
Labels: frontend

#797 Integrated Datadog Browser Logging for Error Tracking
  .all-contributorsrc
  web-client/.env.EXAMPLE
  web-client/package.json
  web-client/src/App.tsx
  web-client/src/telemetry/index.ts
  yarn.lock
Labels: enhancement

#800 (SITE) - Remove Countdown and adjust CTAs
  site/src/components/button/index.js
  site/src/components/button/style.js
  site/src/locales/en-US.json
  site/src/locales/fr-FR.json
  site/src/locales/pt-PT.json
  site/src/sections/home/index.js
  site/src/sections/home/style.js
Labels: site

#799 feat(telemetry): add firebase performance SDK
  web-client/src/firebase/index.ts
Labels: firebase, frontend

#803 Datadog Integration: Introduced RUM
  .github/workflows/deploy-to-firebase-dev.yml
  .github/workflows/deploy-to-firebase-production.yml
  .github/workflows/deploy-to-firebase-staging.yml
  site/src/components/button/index.js
  site/src/components/button/style.js
  site/src/locales/en-US.json
  site/src/locales/fr-FR.json
  site/src/locales/pt-PT.json
  site/src/sections/home/index.js
  site/src/sections/home/style.js
  web-client/.env.EXAMPLE
  web-client/package.json
  web-client/src/App.tsx
  web-client/src/telemetry/index.ts
  yarn.lock
Labels: enhancement

#779 coding conventions -- first draft
  CONTRIBUTING.md
  web-client/CONTRIBUTING.md
  web-client/docs/CodingConventions/AccentStyle.png
  web-client/docs/CodingConventions/CODING_CONVENTIONS_TRANSLATIONS.png
  web-client/docs/CodingConventions/H6.png
  web-client/docs/CodingConventions/NAMING_AND_DECLARATION_CONVENTIONS.md
  web-client/src/components/figma/index.ts
Labels: documentation
