Repository reach4help/reach4help, pull requests merged in 2020-03, with the labels that each got.

#18 [RFC][#17] Setup base frontend structure
  package.json
  site/package.json
  web-client/.eslintignore
  web-client/.eslintrc.js
  web-client/.gitignore
  web-client/.prettierrc
  web-client/README.md
  web-client/custom.d.ts
  web-client/package.json
  web-client/public/favicon.ico
  web-client/public/index.html
  web-client/public/logo192.png
  web-client/public/logo512.png
  web-client/public/manifest.json
  web-client/public/robots.txt
  web-client/src/App.css
  web-client/src/App.test.tsx
  web-client/src/App.tsx
  web-client/src/index.css
  web-client/src/index.tsx
  web-client/src/logo.svg
  web-client/src/react-app-env.d.ts
  web-client/src/serviceWorker.ts
  web-client/src/setupTests.ts
  web-client/tsconfig.json
  yarn.lock
Labels: enhancement, frontend

#37 feat(commitlint): enforce conventional commit
  CONTRIBUTING.md
  LICENSE
  README.md
  commitlint.config.js
  package.json
  site/CODE_OF_CONDUCT.md
  site/LICENSE
  web-client/CONTRIBUTING.md
Labels: documentation

#41 Improve docs and site to tick Netlify checks for OS account
  .idea/covidaid.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  package.json
  site/CONTRIBUTING.md
  site/README.md
  site/src/components/Footer.js
Labels: documentation, frontend

#47 Update README
  site/README.md
Labels: documentation

#48 Update README
  README.md
Labels: documentation

#52 feat(map): Add actual map, markers, and data
  .eslintrc-ts.js
  .eslintrc.js
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  map/.eslintrc.js
  map/package.json
  map/src/App.tsx
  map/src/components/filters.tsx
  map/src/components/map-loader.tsx
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/components/search.tsx
  map/src/data/index.ts
  map/src/data/markers.ts
  map/src/serviceWorker.ts
  yarn.lock
Labels: frontend

#68 [RFC][#55] - Setup redux in web-client
  web-client/.eslintrc.js
  web-client/package.json
  web-client/src/App.css
  web-client/src/App.test.tsx
  web-client/src/App.tsx
  web-client/src/containers/exampleContainer.tsx
  web-client/src/logo.svg
  web-client/src/store/example/actions.ts
  web-client/src/store/example/reducers.ts
  web-client/src/store/example/types.ts
  web-client/src/store/index.ts
  yarn.lock
Labels: frontend, setup

#72 fix(footer): fix social icons position footer
  site/src/components/Footer.js
Labels: ux / ui / design

#83 Some initial styling, and additional markers
  map/package.json
  map/src/App.tsx
  map/src/components/filters.tsx
  map/src/components/header.tsx
  map/src/components/map-loader.tsx
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/components/search.tsx
  map/src/data/index.ts
  map/src/data/markers.ts
  map/src/index.tsx
  map/src/styling/index.ts
  map/src/styling/theme.ts
Labels: map

#89 [RFC8[#56] setup styled components
  web-client/package.json
  web-client/src/components/Button/Buttons.ts
  web-client/src/containers/exampleContainer.tsx
Labels: frontend, setup

#82 [RFC][#57] Setup async Redux middleware
  web-client/package.json
  web-client/src/containers/exampleContainer.tsx
  web-client/src/store/example/actions.ts
  web-client/src/store/index.ts
Labels: frontend, setup

#87 [RFC][#78] - Netlify cms setup
  site/gatsby-config.js
  site/package.json
  site/src/content/about.md
  site/src/sections/About.js
  site/static/admin/config.yml
  site/static/content/index.md
  static/content/index.md
  yarn.lock
Labels: frontend, setup

#108 Add application router
  site/gatsby-config.js
  site/package.json
  site/src/content/about.md
  site/src/sections/About.js
  site/static/admin/config.yml
  site/static/content/index.md
  static/content/index.md
  yarn.lock
Labels: frontend, setup

#111 [RFC][#58] Setup form management lib
  site/gatsby-config.js
  site/src/sections/About.js
  web-client/package-lock.json
  web-client/package.json
  web-client/src/containers/exampleFormContainer.tsx
  yarn.lock
Labels: frontend, setup

#110 [RFC] [#59] Add application router
  web-client/package.json
  web-client/src/App.tsx
  web-client/src/pages/index.tsx
  web-client/src/pages/not-found.tsx
  yarn.lock
Labels: frontend, setup

#114 [RFC][#70] Setup i18n
  web-client/package.json
  web-client/src/containers/exampleContainer.tsx
  web-client/src/index.tsx
  web-client/src/pages/index.tsx
  web-client/src/translations/i18n.ts
  web-client/src/translations/translations.json
  yarn.lock
Labels: frontend, setup

#131 feat(map): complete implementation of results bar, and display detailed info there
  .eslintrc-ts.js
  map/package.json
  map/src/App.tsx
  map/src/components/header.tsx
  map/src/components/map-utils/escape.ts
  map/src/components/map-utils/google-maps.ts
  map/src/components/map-utils/info-window.ts
  map/src/components/map-utils/query-string.ts
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/components/services.tsx
  map/src/data/markers.ts
  map/src/styling/mixins.ts
  map/src/styling/theme.ts
  map/tsconfig.json
  yarn.lock
Labels: map

#134 docs: change contrib guidelines for security issues
  CONTRIBUTING.md
  api/CONTRIBUTING.md
  site/CONTRIBUTING.md
  web-client/CONTRIBUTING.md
Labels: documentation, security

#138 branding: add logo to repo
  README.md
  branding/logo/README.md
  branding/logo/logo-compat.svg
  branding/logo/logo-with-mesh.svg
Labels: brand / design

#139 fix(docs): fix alignment of logo on README
  README.md
Labels: documentation

#144 [RFC][#143] Fix no redux devtools crash
  web-client/src/store/index.ts
Labels: frontend

#122 docs: first security policy version
  SECURITY.md
Labels: documentation, security

#147 fix: update react-scripts in map and web-client to fix build
  map/package.json
  web-client/package.json
  yarn.lock
Labels: frontend, map

#148 ci(map): deploy map automatically when master is updated
  .github/workflows/build-deploy-map.yml
  map/public/CNAME
Labels: infra / devops, map

#151 [RFC][#62] Implement http client
  api/CONTRIBUTING.md
  site/src/components/Footer.js
  site/src/components/Helmet.js
  site/src/content/resources.md
  site/src/sections/Resources.js
  site/src/sections/Team.js
  web-client/.env.EXAMPLE
  web-client/.eslintrc.js
  web-client/.gitignore
  web-client/CONTRIBUTING.md
  web-client/package.json
  web-client/src/App.tsx
  web-client/src/containers/exampleContainer.tsx
  web-client/src/ducks/example.ts
  web-client/src/ducks/index.ts
  web-client/src/http/AxiosConfigs/users.ts
  web-client/src/http/Request.ts
  web-client/src/store/example/actions.ts
  web-client/src/store/example/reducers.ts
  web-client/src/store/example/types.ts
  web-client/src/store/index.ts
  web-client/src/store/middlewares/injectRequestMiddleware.ts
  web-client/src/store/utils/createActionTypeFactory.ts
  web-client/src/store/utils/createReducer.ts
  yarn.lock
Labels: frontend, setup

#171 feat(branding): update logo with new colors
  branding/logo/logo-compat.svg
  branding/logo/logo-with-mesh-small.svg
  branding/logo/logo-with-mesh.svg
  map/public/favicon.ico
  map/public/logo-compat.svg
  map/public/logo128.png
  map/public/logo16.png
  map/public/logo192.png
  map/public/logo24.png
  map/public/logo32.png
  map/public/logo48.png
  map/public/logo512.png
  map/public/logo64.png
  site/media/logo-compat.svg
Labels: brand / design

#130 PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, security

#159 feat(api): adding start of migrations/entites/dtos from ERD
  .gitignore
  api/documentation/database/dbdiagram.io.txt
  api/documentation/database/project-reach-4-help.sql
  api/src/generic/generic.entity.ts
  api/src/migrations/1584965691785-User.ts
  api/src/migrations/1585152533866-Country.ts
  api/src/migrations/1585152819436-Address.ts
  api/src/migrations/1585154959923-Request.ts
  api/src/migrations/1585155151974-Comment.ts
  api/src/migrations/1585167427881-Authentication.ts
  api/src/migrations/1585167847390-Contact.ts
  api/src/migrations/1585175842545-Rating.ts
  api/src/users/dto/create-address.dto.ts
  api/src/users/dto/create-user.dto.ts
  api/src/users/entities/address.entity.ts
  api/src/users/entities/authentication.entity.ts
  api/src/users/entities/comment.entity.ts
  api/src/users/entities/contact.entity.ts
  api/src/users/entities/country.entity.ts
  api/src/users/entities/rating.entity.ts
  api/src/users/entities/request.entity.ts
  api/src/users/entities/user.entity.ts
Labels: backend, enhancement

#182 fix(api): fix a breaking changed merged by ERD PR
  .gitignore
  api/src/database/database.providers.ts
  api/src/database/ormconfig.ts
  api/src/users/dto/create-user.dto.ts
  api/src/users/users.service.ts
Labels: backend, blocker, setup

#181 feat(footer): add references needed before migration to Netlify
  map/src/App.tsx
  map/src/components/footer.tsx
Labels: map

#184 fix(docker-compose): Improve docker compose, env and update docs
  api/README.md
  api/docker-compose.yml
  api/example.env
Labels: backend, documentation, good first issue, infra / devops

#185 Convince Netlify to use yarn
  map/yarn.lock
  site/yarn.lock
Labels: infra / devops, map

#180 docs(map): add instructions for how to add markers to map
  README.md
  map/README.md
  map/src/data/README.md
  map/src/data/markers.ts
Labels: map

#192 feat(site): add link to map on landing page
  site/src/components/Header.js
  site/src/sections/Landing.js
Labels: map

#189 docs: improve pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#183 feat(api): adding some services and cleaning up entity structure
  api/src/addresses/addresses.controller.ts
  api/src/addresses/addresses.module.ts
  api/src/addresses/addresses.provider.ts
  api/src/addresses/addresses.service.ts
  api/src/addresses/dto/create-address.dto.ts
  api/src/addresses/entities/address.entity.ts
  api/src/app.module.ts
  api/src/constants.ts
  api/src/countries/countries.controller.ts
  api/src/countries/countries.module.ts
  api/src/countries/countries.providers.ts
  api/src/countries/countries.service.ts
  api/src/countries/dto/create-country.dto.ts
  api/src/countries/entities/country.entity.ts
  api/src/ratings/entities/rating.entity.ts
  api/src/requests/entities/comment.entity.ts
  api/src/requests/entities/request.entity.ts
  api/src/shared/entities/contact.entity.ts
  api/src/users/dto/create-user.dto.ts
  api/src/users/entities/user.entity.ts
  api/src/users/users.service.ts
Labels: architecture, backend, setup

#193 feat(map): display message for small devices
  map/src/App.tsx
  map/src/components/header.tsx
  map/src/styling/index.ts
Labels: map

#190 feat(site): add a security.txt well-known file
  site/static/.well_known/security.txt
Labels: security

#196 Improve Lighthouse score and packages maintenance
  site/gatsby-config.js
  site/package.json
  site/src/components/Footer.js
  site/src/components/Layout.js
  site/src/components/Section.js
  site/src/components/SocialLink.js
  site/src/pages/index.js
  site/src/sections/About.js
  site/src/sections/Projects.js
  yarn.lock
Labels: enhancement

#205 ci(map): delete actions deployment for map
  .github/workflows/build-deploy-map.yml
Labels: map

#207 feat(site): fix .well-known/security.txt
  site/static/_redirects
  site/static/well-known/README.md
  site/static/well-known/security.txt
Labels: security

#211 Map/more data
  map/src/components/add-instructions.tsx
  map/src/components/header.tsx
  map/src/data/markers.ts
Labels: map

#214 [RFC][#104] loading indicator
  web-client/package.json
  web-client/src/assets/lotties/loading.json
  web-client/src/components/LoadingIndicator/LoadingIndicator.tsx
  web-client/src/components/TitleWithAddon/TitleWithAddon.tsx
  web-client/src/translations/translations.json
  yarn.lock
Labels: frontend

#217 Map/more data
  map/src/data/markers.ts
Labels: map

#227 chore(web-client): dont commit package-lock.json
  web-client/.gitignore
  web-client/package-lock.json
Labels: frontend

#226 Various improvements to linting, including introduction of a lint checking action
  .eslintrc-ts.js
  .eslintrc.js
  .github/workflows/ci.yml
  functions/.eslintrc.js
  map/.eslintrc.js
  map/package.json
  map/src/App.test.tsx
  map/src/App.tsx
  map/src/components/filters.tsx
  map/src/components/footer.tsx
  map/src/components/header.tsx
  map/src/components/map-loader.tsx
  map/src/components/map-utils/escape.ts
  map/src/components/map-utils/google-maps.ts
  map/src/components/map-utils/info-window.ts
  map/src/components/map-utils/query-string.ts
  map/src/components/map.tsx
  map/src/components/results.tsx
  map/src/components/search.tsx
  map/src/components/services.tsx
  map/src/data/index.ts
  map/src/data/markers.ts
  map/src/index.tsx
  site/package.json
  site/src/components/Header.js
  site/src/components/MarkdownRenderer.js
  site/src/sections/Landing.js
  web-client/.eslintrc.js
  web-client/package.json
  web-client/src/components/CenteredCard/CenteredCard.tsx
  web-client/src/components/FacebookLoginButton/FacebookLoginButton.tsx
  web-client/src/components/GradientBackground/GradientBackground.tsx
  web-client/src/components/LoadingIndicator/LoadingIndicator.tsx
  web-client/src/components/Login/Login.tsx
  web-client/src/components/TitleWithAddon/TitleWithAddon.tsx
  web-client/src/containers/LoginContainer/LoginContainer.tsx
  web-client/src/containers/LoginContainer/constants.tsx
  web-client/src/ducks/auth/actions.ts
  web-client/src/ducks/auth/reducer.ts
  web-client/src/ducks/auth/types.ts
  web-client/src/http/HTTPRequest.ts
  web-client/src/http/MockServer.ts
  web-client/src/pages/ContentPage.tsx
  web-client/src/pages/MasterPage.tsx
  web-client/src/pages/ProtectedPage.tsx
  web-client/src/pages/routes/LoginRoute/constants.tsx
  web-client/src/pages/routes/NotFoundRoute.tsx
  web-client/src/serviceWorker.ts
  web-client/src/store/index.ts
  web-client/src/store/middlewares/injectRequestMiddleware.ts
  web-client/src/store/utils/createActionTypeFactory.ts
  web-client/src/store/utils/createReducer.ts
Labels: frontend, map

#233 Firebase/deploy
  .github/workflows/deploy-to-firebase-staging.yml
Labels: backend, frontend
